<h1>Test Kit</h1>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput  placeholder="Ex. METHILCOLIN" #input>
</mat-form-field>
<button  class="record-btn" mat-button color="primary" >Record new test kit</button>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- ID Column -->
    <ng-container matColumnDef="kitID">
      <th mat-header-cell *matHeaderCellDef> KitID </th>
      <td mat-cell *matCellDef="let element"> {{element.kitID}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <!-- Activity Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element"> <button  class="edit-btn" mat-button color="accent" >Edit</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
