<h6>Test Centre > Record New Test Centre</h6>

<h2>Record New Test Centre</h2>

<div class="example-container">

    <form #postForm="ngForm" (submit)="onAddTest(postForm)" >
        <mat-form-field>
            <input placeholder="Name" required  #name="ngModel" name="name" matInput type="text" ngModel>
            <mat-error required *ngIf="name.invalid">*Please enter Test Centre name</mat-error>
        </mat-form-field>
            <button   mat-raised-button color="primary" type="submit"> Save </button>
            <button (click)="onCancel()" mat-raised-button color="primary" > Cancel </button>
    </form>
    </div>
