<h6>Test Centre > Add Tester</h6>

<h4>Add Tester</h4>

<div class="example-container">

    <form #postForm="ngForm"  (submit)="onAddTester(postForm)" >
        <mat-form-field hidden>
            <input placeholder="Test Centre Name" [ngModel]="currentTest.name"  name="testCentre" type="text" required  ngModel matInput hidden >
        </mat-form-field>
        <mat-form-field hidden>
          <input placeholder="Position" [ngModel]="'tester'"  name="position" type="text" ngModel required matInput hidden>
        </mat-form-field>

        <mat-form-field>
          <input placeholder="Name" required  #name="ngModel" name="name" matInput type="text" ngModel>
          <mat-error required *ngIf="name.invalid">*Please enter Name</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" name="email" placeholder="E-mail" #emailInput = "ngModel" ngModel required email>
          <mat-error *ngIf="emailInput.invalid"> Please enter valid E-mail</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input placeholder="password" required  #name="ngModel" name="password" matInput type="text" ngModel>
          <mat-error required *ngIf="name.invalid">*Please enter Password</mat-error>
        </mat-form-field>
        <input type="hidden" [value]="currentTest.id"><br>
        <button   mat-raised-button color="primary" type="submit"> Save </button>
        <button (click)="onCancel()" mat-raised-button color="primary" > Cancel </button>
    </form>
</div>
